<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css">
    <!--<link rel="stylesheet" type="text/css" href="__ROOT__/Application/Home/Common/css/index.css">-->
    <link rel="stylesheet" type="text/css" href="__ROOT__/Application/Home/Public/css/publicOrder.css">
    <title>司机管理页面</title>
</head>
<body>
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item layui-this"><a href="">公共订单</a></li>
    <li class="layui-nav-item "><a href="">个人订单</a></li>
    <li class="layui-nav-item"><a href="">个人中心</a></li>
</ul>
<script src="__PUBLIC__/jquery-3.3.1.min.js"></script>
<script src="__PUBLIC__/layui/layui.js"></script>
<script src="__ROOT__/Application/Home/Public/js/publicOrder.js"></script>
</body>
</html>